
.idea/biklane.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/app.cpython-38.pyc
migrations/__pycache__/env.cpython-38.pyc
migrations/alembic.ini
migrations/env.py
migrations/README
migrations/script.py.mako
migrations/versions/4772dea54f84_.py
migrations/versions/__pycache__/4772dea54f84_.cpython-38.pyc
static/uploads/72b4524aaad415479f81de8f9c07a49f.png
static/uploads/dd3c0f57b9a28afc766c2ada493a2818.png
*.png
*.pyc
db.sqlite
actions/.DS_Store
*.xml
.DS_Store
