{% extends 'base/base.html' %}
{% block content %}

<div class="container" style="align-content: center">

	<div class="card text-left">

		<div class="card-header">
			<ul class="nav nav-pills card-header-pills">
				<li class="nav-item">
					<a class="nav-link disabled" href="#">What happened?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="#">Details?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Where?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Photos?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Submit</a>
				</li>
			</ul>
		</div>

		<div class="card-body">
			<h2 class="card-title text-center mt-2 mb-5">That sucks. Give us the details.</h2>

			<form action="#" method="post">
				<div class="form-group">
					<label for="company-name">Company</label>
					<select name="company-name" id="company-name" class="custom-select" required>
						<option value="Bad Courier PLC">Bad Courier PLC</option>
						<option value="Bad Trucking PLC">Bad Trucking Company</option>
						<option value="Not listed">Not listed</option>
					</select>
				</div>
				<div class="form-group">
					<label for="registration-number">Registration number</label>
					<input name="registration-number" type="text" class="form-control" id="registration-number" placeholder="B4D PRK1NG" required>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="vehicle-colour">Vehicle colour (optional)</label>
							<input name="vehicle-colour" type="text" class="form-control" id="vehicle-colour" placeholder="White">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="vehicle-brand">Vehicle brand and model (optional)</label>
							<input name="vehicle-brand" type="text" class="form-control" id="vehicle-brand" placeholder="Ford Transit">
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="details-body">Any details to add?</label>
					<textarea name="details-body" id="details-body" class="form-control" rows="3" placeholder="Tell us what happened. Just the facts." required></textarea>
				</div>

				<div class="text-right">
					<button type="submit" class="btn btn-primary mt-3">Next</button>
				</div>
			</form>

		</div>
	</div>

{% endblock %}
