<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>bikelane.app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
	<script src="https://kit.fontawesome.com/99043d701d.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>

<body>

<div class="container-fluid">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="{{url_for('index')}}">
			<span class="navbar-brand mb-0 h1"><i class="fas fa-biking"></i> bikelane.app</span>
            <span><a href="https://www.buymeacoffee.com/hankhank10"><img class="rounded" src="/static/images/buymeacoffee.png" style="height: 30px"</a></span>
		</a>
	</nav>
	<br>

	{% block content %}{% endblock %}


</div>


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
	{% for category, message in messages %}
		<script>
			Swal.fire({
				title: '',
				text: '{{ message }}',
				icon: '{{ category }}',
				confirmButtonText: 'ok'
			})
		</script>
    {% endfor %}
  {% endif %}
{% endwith %}



<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</body>
</html>