{% extends 'base/base.html' %}
{% block content %}

<div class="container" style="align-content: center">

	<div class="card text-left">

		<div class="card-header">
			<ul class="nav nav-pills card-header-pills">
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Issue?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="#">Details?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Where?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Photos?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Submit</a>
				</li>
			</ul>
		</div>

		<div class="card-body">
			<h2 class="card-title text-center mt-2 mb-5">That sucks. Let's do something about it.</h2>

			

		</div>
	</div>

{% endblock %}
