{% extends 'base/base.html' %}
{% block content %}

<div class="container" style="align-content: center">

	<div class="card text-left">
		<div class="card-body">
			<h1 class="card-title text-center">{{ report.reason_for_report }}</h1><br>

            <table class="table table-hover">
                <tbody>
                    <tr class="table-secondary">
                        <td>Details</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Date of report:</td>
                        <td>{{ report.timestamp.strftime('%H:%M on %d-%b-%Y') }}</td>
                    </tr>
                    <tr>
                        <td>When did this happen:</td>
                        <td>{{ report.when_did_this_happen }}</td>
                    </tr>

                    {% if report.details_body %}
                    <tr>
                        <td>Additional details:</td>
                        <td>{{ report.details_body }}</td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="table-secondary">
                        <td>Vehicle</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Registration:</td>
                        <td>{{ report.registration_number }}</td>
                    </tr>

                    {% if report.vehicle_colour %}
                    <tr>
                        <td>Colour:</td>
                        <td>{{ report.vehicle_colour }}</td>
                    </tr>
                    {% endif %}

                    {% if report.vehicle_brand %}
                    <tr>
                        <td>Make & model:</td>
                        <td>{{ report.vehicle_brand }}</td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td>Company name:</td>
                        <td>{{ report.company_name }}</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="table-secondary">
                        <td>Location</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Road name:</td>
                        <td>{{ report.location_city_name }}</td>
                    </tr>

                    <tr>
                        <td>City:</td>
                        <td>{{ report.location_city_name }}</td>
                    </tr>

                    {% if report.location_postcode %}
                    <tr>
                        <td>Postcode:</td>
                        <td>{{ report.location_postcode }}</td>
                    </tr>
                    {% endif %}

                    {% if report.council_name %}
                    <tr>
                        <td>Council area:</td>
                        <td>{{ report.council_name }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

            <br>

            {% if images|length > 0 %}
            <div class="card text-left">
                <div class="card-header">
                    Photos
                </div>
                <div class="card-body">

                     <div class="row">
                         {% for row in images %}
                          <div class="col-md-6">
                                <div class="thumbnail">
                                    <a href="{{ image.image_url }}" download="{{ image.image_filename }}">
                                    <img src="{{ image.image_url }}" alt="" style="width:100%">
                                    <div class="caption">
                                        <p><i class="fas fa-download"></i> Download</p>
                                    </div>
                                    </a>
                                </div>
                          </div>
                         {% endfor %}
                     </div>

                </div>
            </div>
            {% endif %}


		</div>
	</div>

{% endblock %}
