Hi, I wanted to let you know that I spotted {{report.registration_number}} parked in a bike lane.

Parking in bike lanes is really dangerous for cyclists, so I wanted to make you aware so that you could offer the drvier some retraining on this.

The details are as follows:

Vehicle registration_number = {{report.registration_number}}
Time it happened = {{report.when_did_this_happen}}